@mixin getGrid ($column: 12, $prefix: '') {
    @for $i from 1 through $column {
        @if $prefix != '' {
            .col-#{$prefix}-#{$i} {
                flex: 0 0 (100% * ($i / $column));
                max-width: 100% * ($i / $column);
            }
        } @else {
            .col-#{$i} {
                flex: 0 0 (100% * ($i / $column));
                max-width: 100% * ($i / $column);
            }
        }
        .col {
            flex-grow: 1;
        }
    }
}
