$red: red;
$black: black;
$liteGrey: #999;

$headerBgColor: $liteGrey;
$btnBgColor: $black;

$defaultFontFamily: Arial, sans-serif;

$openSns: Open-Sans, $defaultFontFamily;

$headerFontFamily: $openSns;

$tablet: 1024px;
$mobile: 767px;

$defaultPadding: 15px;
