*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", sans-serif;
    font-size: 16px;
}
h1{
    padding: 10px;
}
h2{
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
}
h3{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}
h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #1C1C1C;
}
ul{
    list-style-type: none;
}
a{
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #1C1C1C;
    text-decoration: none;
}
a.learn_more{
    cursor: pointer;
    background: none;
    color: #FF8364;
    border: none;
    line-height: 22px;
    transition: 0.3s ease;
}
a.learn_more:hover{
    color: rgb(202, 106, 82);
}
p{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #585757;
}
p.big_txt{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.3px;
}
p.small_txt{
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #969696;
}
input{
    background: #f7f7f7;
    border: none;
    color: #585757;
    border-radius: 6px;
    font-size: 20px;
    line-height: 30px;
    padding: 9px 0 9px 15px;
    margin: 10px 0;
    width: 100%;
}
.container{
    max-width: 1110px;
    margin:0 auto;
    padding: 15px;
}
header, .container{
    border-bottom: 1px solid #DBDBDB;
}
.top__line{
    max-width: 1400px;
    padding: 20px 30px;
    margin: 0 auto;
}
.primary_btn{
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    background: #FF8364;
    border-radius: 6px;
    padding: 11px 16px;
    border: none;
    outline: none;
    cursor: pointer;
}
.primary_btn:hover{
    transition: 0.3s ease-in;
    box-shadow: 0 13px 18px rgba(0,0,0,0.25), 0 4px 2px rgba(0,0,0,0.22);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > a{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    padding: 15px;
}
nav > input{
    display: none;
}
nav label{
    display: none;
}
nav > label{
    width: 27px;
    height: 20px;
    cursor: pointer;
}
nav label span{
    position: relative;
    margin: 6px 0;
}
nav label span::after,nav label span::before{
   content: '';
   position: absolute;
   width: 100%;
}
nav label span::after{
   top: 6px;
}
nav label span::before{
   top: 13px;
}
nav label span,nav label span::after,nav label span::before{
   display: block;
   height: 3px;
   background: #969696;
   border-radius: 2px;
   transition: 0.2s;
}
nav > input:checked ~ label span{
   transform: rotate(45deg);
   margin-top: 12px;
}
nav > input:checked ~ label span::after{
   transform: rotate(-90deg);
   margin-top: -6px;
}
nav > input:checked ~ label span::before{
   display: none;
}
nav ul li a{
    display: block;
    text-decoration: none;
    outline: none;
    position: relative;
}
nav ul li a::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #1C1C1C;
    transform: scale(0);
    transition: 0.3s;
    top: 100%;
}
nav ul li a:hover::after{
    opacity: 1;
    transform: scale(1);
}
.header__item{
    max-width: 730px;
    margin: 0 auto;
    text-align: center;
    padding: 130px 0 346px;
    overflow: hidden;
}
.header__item > p{
    padding: 20px 0 30px;
}
.header__item p.small_txt{
    padding: 20px 0 45px;
}
.header__item form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 540px;
    margin: 0 auto;
}
.header__item form div{
    flex-grow: 1;
}
.header__item form input{
    margin: 0 18px;
    width: 90%;
    padding-right: 0;
}
.header__item__img{
    position: relative;
    display: block;
}
.header__item__img img{
    position: absolute;
    left: 50%;
    transform: translateX(-204px);
}
.description{
    text-align: center;
}
.description p{
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: #1C1C1C;
    padding: 95px 174px;
}
.stars{
    padding: 162px 0 100px;
}
.stars ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
}
.stars ul li{
    display: block;
    max-width: 33%;
}
.stars ul li:nth-child(2){
    margin: 0 30px;
}
.stars h4{
    display: block;
    position: relative;
}
.stars h4::before{
    content: url(../css/img/star.png);
    display: block;
    position: absolute;
    top: -52px;
}
.stars p{
    padding: 10px 0;
}
.statistic{
    padding: 100px 0 54px;
}
.statistic ul{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}
.statistic ul li{
    display: block;
    width: 33%;
    padding: 0 0 60px 0;
}
.short{
    text-align: center;
    padding: 110px 0 116px;
}
.short > p{
    padding: 20px 186px 60px;
}
.short ul{
    display: flex;
    flex-flow: row;
}
.short ul li{
    display: block;
    width: 33%;
    position: relative;
}
.short ul li:nth-child(2){
    margin: 0 30px;
}
.short ul li:nth-child(2)::before,
.short ul li:nth-child(2)::after{
    content: url(../css/img/arrow_forward.png);
    display: block;
    position: absolute;
    top: 7%;
}
.short ul li:nth-child(2)::before{
    left: -38px;
}
.short ul li:nth-child(2)::after{
    right: -38px;
}

.short ul li h3{
    padding: 20px 0 10px;
}
.photo-box{
    display: block;
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}
.photo-box img {
    width: 100%;
}
/* phone_poster section styles */
.phone__poster{
    padding: 150px 145px 116px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.phone__poster .photo-box{
    margin: 0;
}
.phone__poster__item{
    max-width: 50%;
}
.phone__poster__item h2{
    padding: 30px 0 20px;
}
.phone__poster__item p{
    padding-right: 127px;
}
.phone__poster__item a{
    padding: 20px 0;
    display: block;
}
.phohe__poster__img{
    position: relative;
    display: block;
    width: 50%;
}
.phohe__poster__img img{
    position: absolute;
    top: -182px;
    left: 30px;
}
/* cards section styles */
.cards{
    padding: 110px 0 114px;
}
.cards>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
}
.cards ul li{
    display: block;
}
.cards ul li:not(:nth-child(4)){
    padding-right: 30px;
}
.cards img{
    border-radius: 8px;
}
.cards span{
    padding: 20px 0 10px;
    display: block;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #969696;
}
.cards>ul>li > p{
    padding: 42px 0 20px;
}
.cards>ul>li:nth-child(2n) > p{
    padding: 10px 0 20px;
}
.cards >ul >li ul{
    display: flex;
    align-items: center;
}
.cards >ul >li ul li{
    display: block;
}
.cards >ul >li ul li p{
    display: block;
    position: relative;
    padding-left: 31px;
}
.cards >ul >li ul li p::after{
    content: url(../css/img/visibility.png);
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
}
.cards >ul >li ul li:nth-child(2n) p::after{
    content: url(../css/img/comment.png);
}
