*{
  margin: 0;
  padding: 0;
}
.menu{
  background-color: #303030;
}
.menu ul{
  list-style-type: none;
  background-color: #303030;
}
.menu ul li a{
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  padding: 14px 16px;
}
.menu ul ul{
  position: absolute;
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.menu ul ul li{
  width: 120px;
  position: relative;
}
.menu ul ul ul{
  margin-left: 120px;
  top: 0;
}
.menu ul li a:hover{
  background-color: darkslategray;
}
.menu ul li:hover > ul{
  display: block;
}
.flex > ul{
  display: flex;
  justify-content: center;
}
.flex ul li{
  min-width: 120px;
  position: relative;
}
.float{
  margin-top: 50px;
}
.float > ul{
  overflow: hidden;
  margin: 0 auto;
  width: 600px;
}
.float > ul > li{
  float: left;
  width: 120px;
}
.inline{
  margin-top: 50px;
}
.inline > ul{
  text-align: center;
}
.inline > ul > li{
  display: inline-block;
  width: 120px;
}

