*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat','Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}
h1,h2,h3{
    font-weight: 700;
}
h1{
    font-size: 30px;
    text-transform: lowercase;
    letter-spacing: -0.8px;
}
h1 strong{
    text-transform: uppercase;
}
h1,a{
    color: #ffffff;
}
h2{
    font-size: 150px;
    line-height: 140px;
    padding: 65px 0 58px;
    letter-spacing: -5px;
}
p.kaushan, h3{
    color: #333333;
}
h3{
    font-size: 30px;
}
ul{
    list-style-type: none;
}
p, span{
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
p{
    color: #999999;
    text-transform: none;
}
p.upper, a{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
}
p.title_block{
    padding: 42px 103px 0;
    letter-spacing: 0.1px;
}
p.kaushan{
    font-family: "Kaushan";
    font-size: 24px;
    font-weight: 400;
}
span, input{
    font-style: italic;
}
.container{
    max-width: 1201px;
    margin: 0 auto;
    padding: 83px 15px;
}
img{
    width: 100%;
}
.primary__btn{
    padding: 15px 32px 14px 33px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
}
input{
    font-family: 'Roboto';
    padding: 14px 13px 13px;
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
}
hr.short_line{
    width: 60px;
    height: 3px;
    border: none;
    margin: 0 auto;
    background: #f38181;
}
.container > p, .container > h3{
    text-align: center;
}
.container > h3{
    padding: 15px 0 32px;
    letter-spacing: -0.6px;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    border-radius: 8px;
    padding: 10px;
    background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
    background-color: #95e1d3; 
    border-radius: 8px;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
    background: #38a08d; 
    transition: 0.2s ease-out;
}
/* main style begin  */
header{
    background-color: rgba(252, 227, 138, 0.1);
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    width: 100%;
    position: relative;
    overflow: hidden;
}
video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
header .container{
    padding: 28px 0;
}
nav, nav>ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav>a{
    margin-top: -7px;
}
input#search{
    display: none;
}
nav ul li:nth-child(2n+1):not(:last-child){
    padding: 0 54px;
}
nav ul li:last-child{
    padding-left: 41px;
}
nav ul li a{
    display: block;
    position: relative;
}
nav ul li a:hover{
    color: #fce38a;
    transition: 0.3s ease-in;
}
nav ul li a::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    height: 1px;
    background: #fce38a;
    transform: scale(0);
    transition: 0.3s ease-in;
    top: 26px;
}
nav ul li a:hover::after{
    transform: scale(1);
}
nav ul li svg:hover{
    cursor: pointer;
}
.slider{
    position: relative;
}
.slider input{
    display: none;
}
.slide_overflow{
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    padding-top: 193px;
}
.slide_item_wrapper{
    width: 400%;
    display: flex;
    transition: 0.5s ease-in-out;
}
.slide_item{
    width: 100%;
}
header .slide_item{
    text-align: center;
}
.slide_arrows{
    display: flex;
    justify-content: space-between;
    padding-top: 108px;
}
.slide_arrows label{
    display: block;
    width: 25%;
}
.slide_arrows label:hover{
    cursor: pointer;
}
.slide_arrows label:not(:last-child){
    margin-right: 30px;
}
.line{
    width: 100%;
}
.line{
    background: rgba(255, 255, 255, 0.4);
}
.line hr{
    width: 0%;
    height: 3px;
    border: none;
    display: block;
    background: none;
    transition: 0.3s ease-in;
}
#slide_1:checked ~ #sl .slide_item_wrapper,
#slide_11:checked ~ #sl_2 .slide_item_wrapper,
#slide_111:checked ~ #sl_3 .slide_item_wrapper{
    margin-left: 0;
}
#slide_2:checked ~ #sl .slide_item_wrapper,
#slide_22:checked ~ #sl_2 .slide_item_wrapper,
#slide_222:checked ~ #sl_3 .slide_item_wrapper{
    margin-left: -100%;
}
#slide_3:checked ~ #sl .slide_item_wrapper,
#slide_33:checked ~ #sl_2 .slide_item_wrapper,
#slide_333:checked ~ #sl_3 .slide_item_wrapper{
    margin-left: -200%;
}
#slide_4:checked ~ #sl .slide_item_wrapper,
#slide_44:checked ~ #sl_2 .slide_item_wrapper,
#slide_444:checked ~ #sl_3 .slide_item_wrapper{
    margin-left: -300%;
}
#slide_1:checked ~ .slide_arrows label:nth-child(1) .line, 
#slide_2:checked ~ .slide_arrows label:nth-child(2) .line, 
#slide_3:checked ~ .slide_arrows label:nth-child(3) .line, 
#slide_4:checked ~ .slide_arrows label:nth-child(4) .line{
    background: rgba(255, 255, 255, 1);
    transition: 0.3s ease-in;
}
#slide_1:checked ~ .slide_arrows label:nth-child(1) .line hr,
#slide_2:checked ~ .slide_arrows label:nth-child(2) .line hr,
#slide_3:checked ~ .slide_arrows label:nth-child(3) .line hr,
#slide_4:checked ~ .slide_arrows label:nth-child(4) .line hr{
    width: 20%;
    background-color: #f38181;
}
#slide_1:checked ~ .slide_arrows label:nth-child(1) p, 
#slide_2:checked ~ .slide_arrows label:nth-child(2) p, 
#slide_3:checked ~ .slide_arrows label:nth-child(3) p, 
#slide_4:checked ~ .slide_arrows label:nth-child(4) p{
    color: #ffffff;
}
.slide_arrows label p{
    padding: 25px 0 0;
    font-family: "Montserrat";
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
}
.slide_arrows label p strong{
    font-size: 24px;
    font-weight: 700;
}
header p.kaushan{
    color: #ffffff;
    font-size: 72px;
}
header .slide_item hr{
    background: #ffffff;
}
.slide_item button{
    font-family: "Montserrat";
    text-transform: uppercase;
    margin: 48px 0;
    padding: 10px 30px;
    background: none;
    border: 3px solid #ffffff;
    font-weight: 700;
    color: #ffffff;
}
.slide_item button:hover{
    background: #ffffff;
    color: rgba(252, 227, 138, 0.8);
    transition: 0.3s ease-in;
    cursor: pointer;
}
/* section about style start  */
.about{
    background: #fff;
}
.about ul{
    padding: 101px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about ul li{
    display: block;
    width: 33%;
}
.about ul li:nth-child(2n){
    padding: 0 30px;
}
.about_item:hover{
    cursor: pointer;
}
/* ---------------------- */
.active{
    background: #95e1d3;
    display: block;
    position: relative;
}
.active, .active img, .active p, .active .click__item, .active::after{
    transition: 0.3s ease-in;
}
.active>img{
    transform: translate(-10px, -10px);
}
.active p{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}
.click__item{
    position: absolute;
    top: -3000px;
}
.active .click__item{
    opacity: 1;
    text-align: center;
    top: 50%;
    z-index: 9;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.active::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 99%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    transform: translate(-10px, -10px);
}
.progress{
    background:#95e1d3;
}
.progress .container{
    padding: 0 15px;
}
.progress ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.progress ul li{
    display: block;
    padding: 90px 0;
    width: 20%;
    text-align: center;
}
.progress ul li:nth-child(2n+1){
    border-left: 1px solid #b5eae0;
    border-right: 1px solid #b5eae0;
}
.progress ul li h3,
.progress ul li p{
    color: #ffffff;
}
.progress ul li h3{
    font-size: 72px;
}
.services {
    padding: 106px 15px 122px;
}
.services ul{
    display: flex;
    flex-flow: row wrap;
    padding: 65px 0 0 0;
}
.services ul li{
    display: block;
    flex: 0 1 calc(25% - 1em);
}
.services ul li:nth-child(1),
.services ul li:nth-child(5){
    padding-left: 90px;
}
.services ul li:nth-child(2),
.services ul li:nth-child(6){
    padding: 0 114px;
}
.services ul li p.upper{
    color: #333333;
    display: block;
    position: relative;
}
.services ul li p.upper::after{
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: -59px;
}
.services ul li:nth-child(1) p.upper::after{
    content: url(../image/service_1.svg);
}
.services ul li:nth-child(2) p.upper::after{
    content: url(../image/service_2.svg);
}
.services ul li:nth-child(3) p.upper::after{
    content: url(../image/service_3.svg);
}
.services ul li:nth-child(5) p.upper::after{
    content: url(../image/service_4.svg);
}
.services ul li:nth-child(6) p.upper::after{
    content: url(../image/service_5.svg);
}
.services ul li:nth-child(7) p.upper::after{
    content: url(../image/service_6.svg);
}
.services ul hr{
    width: 100%;
    margin: 51px 0 47px;
}
.design{
    background: url(../image/design_bgk.jpg), rgba(255, 255, 255, 0.85);
    background-blend-mode: multiply;
    background-size: cover;
}
.design .container{
    padding: 106px 15px 0;
}
.tablet__box{
    display: block;
    max-width: 477px;
    margin: 0 auto;
    padding-top: 49px;
    transform: translateX(-27px);
    position: relative;
}
.tablet__box::after{
    content: url(../image/iphone.png);
    display: block;
    position: absolute;
    top: 39%;
    left: 76%;
}
.tablet__box img{
    display: block;
}
.toggle{
    padding: 110px 15px 0;
}
.toggle__item__wrapper{
    display: flex;
    flex-flow: row;
    padding: 90px 0 107px;
}
.img__toggle, .toggle__item{
    width: 50%;
}
.toggle__item{
    padding-left: 28px;
}
.toggle__item li{
    display: block;
    padding: 17px 0 17px 61px;
    position: relative;
    border: 1px solid #e5e5e5;
    cursor: pointer;
}
.toggle__item li::before,
.toggle__item li::after{
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.toggle__item li::before{
    content: url(../image/arrow.png);
    right: 20px;
    transition: 0.2s ease-out;
}
.toggle__item li.active__box::before {
    transform: translateY(-50%) rotate(180deg);
}
.toggle__item li::after{
    content: '';
    left: 10px;
}
.toggle__item li:nth-child(1)::after{
    content: url(../image/toggle_1.png);
}
.toggle__item li:nth-child(3)::after{
    content: url(../image/toggle_2.png);
}
.toggle__item li:nth-child(5)::after{
    content: url(../image/toggle_3.png);
}
.toggle__item__pannel{
    display: block;
    cursor: pointer;
    /* padding: 0 55px 0 20px; */
    border: 0;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-out;
    margin-bottom: 10px;
}
.active__toggle{
    border: 1px solid #e5e5e5;
    /* padding: 21px 55px 28px 20px; */
}
.for__border{
    display: block;
    width: 100%;
    max-height: 170px;
    box-sizing: border-box;
    overflow-y: scroll;
    border: 20px solid #fff;
    border-top: 21px solid #fff;
    border-bottom: 28px solid #fff;
    border-right: 25px solid #fff;
}
.for__border p{
    padding-right: 25px;
}
.testimonials{
    background-color: #f8f8f8;
}
.testimonials .container{
    padding: 52px 15px 0;
}
#slide_11:checked ~ .slide_arrows label:nth-child(4)::before,
#slide_111:checked ~ .slide_arrows label:nth-child(4)::before,
#slide_22:checked ~ .slide_arrows label:nth-child(1)::before,
#slide_222:checked ~ .slide_arrows label:nth-child(1)::before,
#slide_33:checked ~ .slide_arrows label:nth-child(2)::before,
#slide_333:checked ~ .slide_arrows label:nth-child(2)::before,
#slide_44:checked ~ .slide_arrows label:nth-child(3)::before,
#slide_444:checked ~ .slide_arrows label:nth-child(3)::before{
    content: url('../image/arrow.png');
    display: block;
    position: absolute;
    top: 35%;
    right: 97%;
    transition: 0.3s ease-in-out;
    transform: rotate(90deg);
}
#slide_11:checked ~ .slide_arrows label:nth-child(2)::before,
#slide_111:checked ~ .slide_arrows label:nth-child(2)::before,
#slide_22:checked ~ .slide_arrows label:nth-child(3)::before,
#slide_222:checked ~ .slide_arrows label:nth-child(3)::before,
#slide_33:checked ~ .slide_arrows label:nth-child(4)::before,
#slide_333:checked ~ .slide_arrows label:nth-child(4)::before,
#slide_44:checked ~ .slide_arrows label:nth-child(1)::before,
#slide_444:checked ~ .slide_arrows label:nth-child(1)::before{
    content: url('../image/arrow.png');
    display: block;
    position: absolute;
    top: 35%;
    left: 97%;
    transition: 0.3s ease-in-out;
    transform: rotate(-90deg);
}
.slide_arrows label:hover::before{
    cursor: pointer;
    transform: scale(1.1);
}
.testimonials hr{
    margin: 0;
}
.testimonial__author{
    display: flex;
    align-items: center;
    padding-top: 17px;
}
.testimonials .slide_item > p,
.testimonial__author{
    padding-left: 214px;
}
.testimonials .slide_overflow,
.message .slide_overflow{
    max-width: 978px;
    padding: 20px 0;
}
.testimonials .slide_item > p,
.message .slide_item ul li> p{
    display: block;
    position: relative;
    font-style: italic;
    font-size: 24px;
    line-height: 36px;
}
.testimonials .slide_item > p::after{
    content: url(../image/testimonial.png);
    position: absolute;
    left: 0;
    top: 71%;
    transform: translateY(-50%);
}
.testimonials .slide_arrows,
.message .slide_arrows{
    padding-top: 47px;
}
.team{
    padding: 101px 15px 116px;
}
.team ul{
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    padding-top: 88px;
}
.team ul li{
    display: block;
    width: 33%;
}
.team ul li:nth-child(2){
    padding: 0 30px;
}
.team ul li p{
    text-align: center;
    font-style: italic;
}
.team ul li p.upper{
    padding-top: 20px;
    font-weight: bold;
    font-style: normal;
}
.team .click__item input{
    display: none;
}
.team .click__item{
    top: 41%;
    transform: translateY(-50%);
    left: 48%;
    transform: translateX(-50%);
}
.social__item{
    display: flex;
    justify-content: center;
}
.team .social__item label{
    display: block;
    margin: 1px;
    width: 56px;
    height: 56px;
    background-color: #fce38a;
    cursor: pointer;
    transition: 0.2s ease-out;
}
.social__item label svg{
    margin-top: 24%;
}
.social__item label:nth-child(2) svg{
    margin-top: 29%;
}
.social__item label svg path{
    fill: #f38181;
}
#social_1:checked ~ .social__item label:nth-child(1),
#social_2:checked ~ .social__item label:nth-child(2),
#social_3:checked ~ .social__item label:nth-child(3),
#social_4:checked ~ .social__item label:nth-child(4),
#social_11:checked ~ .social__item label:nth-child(1),
#social_22:checked ~ .social__item label:nth-child(2),
#social_33:checked ~ .social__item label:nth-child(3),
#social_44:checked ~ .social__item label:nth-child(4),
#social_111:checked ~ .social__item label:nth-child(1),
#social_222:checked ~ .social__item label:nth-child(2),
#social_333:checked ~ .social__item label:nth-child(3),
#social_444:checked ~ .social__item label:nth-child(4){
    background-color: #f38181;
}
#social_1:checked ~ .social__item label:nth-child(1) svg path,
#social_2:checked ~ .social__item label:nth-child(2) svg path,
#social_3:checked ~ .social__item label:nth-child(3) svg path,
#social_4:checked ~ .social__item label:nth-child(4) svg path,
#social_11:checked ~ .social__item label:nth-child(1) svg path,
#social_22:checked ~ .social__item label:nth-child(2) svg path,
#social_33:checked ~ .social__item label:nth-child(3) svg path,
#social_44:checked ~ .social__item label:nth-child(4) svg path,
#social_111:checked ~ .social__item label:nth-child(1) svg path,
#social_222:checked ~ .social__item label:nth-child(2) svg path,
#social_333:checked ~ .social__item label:nth-child(3) svg path,
#social_444:checked ~ .social__item label:nth-child(4) svg path{
    fill: #ffffff;
}
.logos{
    background-color: #f8f8f8;
}
.logos .container{
    padding: 49px 15px;
}
.logos ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}
.logos ul li{
    display: block;
    max-width: 16vw;
}
.gallery .container{
    padding: 110px 15px;
}
.gallery-wrapper{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}
ul.gallery-wrapper li{
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
}
ul.gallery-wrapper li img{
    vertical-align: middle;
    width: 100%;
}
.img_gallery_box{
    display: block;
    position: relative;
}
.gallery_hover_item{
    display: block;
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0;
    z-index: 9;
    transition: 0.3s ease-out;
    text-align: center;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    width: 100%;
    cursor: pointer;
    height: 100%;
}
.gallery_hover_item svg{
    margin-top: 133px;
}
ul.gallery-wrapper li:nth-child(3) .gallery_hover_item svg{
    margin-top: 285px;
}
.gallery_hover_item p{
    color: #ffffff;
    font-style: italic;
}
.gallery_hover_item p.upper{
    font-weight: 700;
    font-style: normal;
}
.gallery_hover_item:hover{
    opacity: 1;
}
.message{}
#sl_3 ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sl_3 ul li:nth-child(1){
    width: 55%;
    /* transform: scale(2.5); */
}
#sl_3 ul li:nth-child(2){
    padding-left: 70px;
}
.message hr.short_line{
    margin: 0;
}
.message .testimonial__author{
    padding-left: 0;
}
.clients{
    background: url(../image/clients_bgk.jpg)no-repeat, center;
    background-size: cover;
}
.clients ul{
    display: flex;
    flex-wrap: wrap;
    padding: 90px 0 0 70px;
}
.clients ul li{
    flex: 50%;
    max-width: 50%;
    display: flex;
    padding-bottom: 75px;
}
.clients__img{
    display: block;
}
.clients__img img{
   width: auto;
}
.clients__item{
    padding: 0 70px 0 27px;
}
.clients__item p.upper{
    font-weight: bold;
}
.clients__item p{
    /* padding: 0 70px 0 27px; */
    font-style: italic;
}
.clients__item p:last-child{
    font-style: normal;
}
.clients__item hr{
    margin: 16px 0;
}
.blog ul{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    flex-direction: row;
}
.blog > ul{
    padding: 40px 0;
}
.blog > ul li{
    flex: 33%;
    max-width: 33%;
    display: block;
    position: relative;
}
.blog > ul li:nth-child(2){
    padding: 0 30px;
}
.blog hr{
    margin-top: 9px;
}
.blog p.upper{
    font-weight: 700;
    padding: 10px 0;
}
ul.views{
    justify-content: flex-start;
    padding: 20px 0;
}
.blog ul.views li{
    flex: 0;
    max-width: 50px;
    padding-right: 15px;
}
.blog ul.views li:nth-child(2){
    padding: 0;
}
.views li p{
    padding-left: 25px;
    font-style: italic;
}
.views li p::after{
    content: url(../image/view.svg);
    display: block;
    position: absolute;
    top: 45%;
    transform: translateY(-45%);
    left: 0;
}
.views li:nth-child(2) p::after{
    content: url(../image/comment.svg);
    transform: translateY(-35%);
}
.date{
    display: block;
    position: absolute;
    width: 60px;
    height: 70px;
    text-align: center;
    background-color: #95e1d3;
    left: -10px;
    top: 39%;
}
.date.special{
    left: 18px;
}
.date p:first-of-type{
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    display: block;
    padding: 15px 0 0;
}
.date p{
    font-style: italic;
    color: #fff;
    font-weight: 300;
}
footer > ul{
    display: flex;
    flex-flow: row;
}
footer > ul li.footer__item{
    display: block;
    flex: 33%;
    max-width: 33%;
}
.footer__item a h1{
    color: #cccccc;
    font-size: 43px;
}
.footer__item:nth-child(1) > p{
    padding: 23px 0;
}
.footer__item:nth-child(1) > p.upper{
    text-transform: none;
    font-style: italic;
}
.footer__item:nth-child(1) > p.upper strong{ 
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}
ul.social_link{
    display: flex;
    align-items: center;
}
ul.social_link > li{
    padding-right: 15px;
}
footer form{
    display: flex;
    padding: 31px 0;
}
footer button{
    padding: 15px 35px 14px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #95e1d3;
    border:none;
    color: #ffffff;
}
footer p.upper{
    font-weight: 700;
}
footer img{
    width: auto;
}
footer input{
    width: 100%;
}
.footer__item:nth-child(2){
    padding: 10px 114px;
}
.footer__item:nth-child(2) ul.some__news li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news_img{
    max-width: 50%;
}
.news_item{
    padding-left: 22px;
}
ul.some__news{
    padding-top: 33px;
}
ul.some__news li:nth-child(2){
    padding: 30px 0;
}
.news_item p{
    font-size: 13px;
    font-style: italic;
}
.news_item p.upper{
    font-size: 12px;
    line-height: 18px;
    font-style: normal;
}
ul.inst_gallery{
    display: flex;
    flex-wrap: wrap;
}
ul.inst_gallery li{
    width: auto;
    padding: 0;
}
