.hidden{
    display: none;
}

.main-add-form .row{
    border: 1px solid black;
}
.error{
    color: red;
}
.elem-list{
    // padding-left: 20px;
    list-style-type: none;
    border: 1px solid black;
    li{
        padding: 10px;
        transition: 0.2s ease-in;
        color: #000000;
        cursor: pointer;
        border-bottom: 1px solid #000;
        &:hover{
            background: rgb(150, 148, 148);
            color: #fff;
        }
    }
}
.checked-input{
    background: rgb(150, 148, 148);
}