$red: red;
$black: black;
$liteGrey: #999;

$headerBgColor: $liteGrey;
$btnBgColor: $black;

$defaultFontFamily: Arial, sans-serif;

$openSns: Open-Sans, $defaultFontFamily;

$headerFontFamily: $openSns;